---
# tasks file for roles/flask_app
- name: Créer répertoire app source
  ansible.builtin.file:
    path: "{{ app_dir }}/src"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: '0755'

- name: Déployer les sources Flask
  ansible.builtin.copy:
    src: app/
    dest: "{{ app_dir }}/src/"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: '0644'
  notify: "restart gunicorn"

- name: Installer dépendances Python dans venv
  ansible.builtin.command:
    cmd: "{{ venv_dir }}/bin/pip install -r {{ app_dir }}/src/requirements.txt"
  args:
    chdir: "{{ app_dir }}/src"
  register: pip_install
  changed_when: pip_install.rc == 0 and ('Installing collected packages' in pip_install.stdout or 'Successfully installed' in pip_install.stdout)
